{% extends 'base.html.twig' %}

{% block body %}

<h1>Supprimer une Compétence</h1>

<form method='POST'>
    <p>Voulez vous vraiment supprimer la Compétence <b>{{competence.titre}} ({{competence.caracteristique}})</b> ?</p>

    <p><input type='submit' value='Supprimer' name='valid_del'> <a href='{{path('app_competence')}}'>Annuler</a></p>
</form>

{% endblock %}