{% extends 'base.html.twig' %}

{% block body %}

<h1>Supprimer une classe</h1>

<form method='POST'>
    <p>Voulez vous vraiment supprimer la classe <b>{{classe.titre}} </b> ?</p>

    <p><input type='submit' value='Supprimer' name='valid_del'> <a href='{{path('app_classe')}}'>Annuler</a></p>
</form>

{% endblock %}