{% extends 'base.html.twig' %}

{% block body %}

<h1>Supprimer un thèmes</h1>

<form method='POST'>
    <p>Voulez vous vraiment supprimer la race <b>{{theme.titre}}</b> ?</p>

    <p><input type='submit' value='Supprimer' name='valid_del'> <a href='{{path('app_race')}}'>Annuler</a></p>
</form>

{% endblock %}